<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Lastname</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of people | async">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td><a href="mailto:{{ user.lastName }}">{{ user.lastName }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
